{
	"title": "a site title",
	"description": "a site port",
	"url": "http://localhost:1111",
	"server": "http://backend-url:port",
	"og": {
		"site": "pandome"
	},
	"tw": {
		"site": "twitter-handle"
	}
}