$media-s: 480px;
$media-m: 768px;
$media-l: 1024px;

$border: 0.2rem;
$border-soft: 0.4rem;
$border-round: 0.8rem;
$border-sharp: 0.0rem;

/******************* root *******************/

html, #__next, #body {
	position: relative;

	height: 100vh;
	margin: 0rem 0rem 0rem 0rem;

	box-sizing: border-box;
}

#body {
	display: block;
	
	overflow-y: scroll;
	overflow-x: hidden;

	height: 100vh;
	margin: 0rem 0rem 0rem 0rem;
}

#masthead {
	padding: 2rem 0rem 2rem 0rem;
}

/******************* custom scrollbar *******************/

::-webkit-scrollbar {
	width: 0.6rem;
}

::-webkit-scrollbar-thumb {
	border-radius: $border-round;
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/******************* tooltip *******************/

.tooltip .tooltip-text {
	@media only screen and (max-width: $media-l) {}

	@media only screen and (max-width: $media-m) {
		width: 400%;
		left: -175%;
		top: 100%;
	}

	@media only screen and (max-width: $media-s) {}
}

/******************* screen *******************/

.screen {
	z-index: 100;
	display: flex;
	position: fixed;

	top: 0rem;
	left: 0rem;

	width: 100vw;
	height: 100vh;

	opacity: 60%;
	background-color: #000;
}

.img-container img {
	max-height: 50%;
	max-width: 80%;
	border-radius: $border-round;
}