/******************* root *******************/

#__next {
	height: 100vh;
	margin: 0rem 0rem 0rem 0rem;
	overflow-y: scroll;
}

#body {
	height: 100%;
	margin: 0rem 0rem 0rem 0rem;
}

#navbar {
	padding: 2rem 0rem 2rem 0rem;
}

#masthead {
	height: 100%;
	padding: 2rem 0rem 2rem 0rem;
}

.screen {
	z-index: 100;
	position: fixed;
	display: flex;

	top: 0rem;
	left: 0rem;

	width: 100vw;
	height: 100vh;

	background-color: #000;
	opacity: 60%;
}

/******************* scrollbar *******************/

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #282828;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/******************* file-display *******************/

.file-display {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.file-display div {
	margin: 0rem 0.25rem 1rem;
}

.dl-icon {
	text-align: center !important;
}

.dl-icon svg {
	font-size: 4rem;
}

.file-display div div {
	text-align: left;
} 

.img-container {
	text-align: center !important;
	justify-content: center;
} 

.img-container img{
	max-height: 30vh;
	max-width: 100%;
} 

.file-display div code {
	margin: 0rem .5rem 0rem;
}

/* .file-display div code span {
	margin: 0rem 0.25rem 0rem;
} */

/******************* other *******************/

.border-none {
	border: none !important;
}

.nav-link {
	transition: all .4s ease;
	opacity: .5;
	margin: 0rem 0.75rem 0rem;
	vertical-align: middle;
}

.nav-link svg {
	font-size: 1.5rem;
}

.upload {
	opacity: 1;
}

/******************* components *******************/

/* navigation */

.active-link svg {
	color: #ffb7c5 !important;
	fill: #ffb7c5 !important;
}

/* hybrid form */

.HybridForm {
	vertical-align: middle;
}

.HybridForm input {
	text-align: center;
	margin: 0.25rem 0.25rem;
}

.HybridForm #register {
	margin: 0.0rem 0rem;
	font-size: 0.8rem;
}

.download {
	list-style: none;
	width: 100%;
}

.dl-container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.dl-text {
	display: flex;
}

.dl-link {
	margin: 0rem 0.75rem 0rem 0rem;
	vertical-align: middle;
}
