.background {
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	z-index: -5;

	filter: blur(0.3rem);
	-webkit-filter: blur(0.3rem);

	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.backgroundLight {
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	z-index: -5;

	filter: blur(0.3rem);
	-webkit-filter: blur(0.3rem);

	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	padding-bottom: 8rem;
}