/* Small devices: Small phones */
$media-s: 480px;
/* Medium devices: Large phones */
$media-m: 768px;
/* Large devices: Large tablets */
$media-l: 1024px;

$border: 0.2rem;
$border-soft: 0.4rem;
$border-round: 0.8rem;
$border-sharp: 0.0rem;

.uploadLabel {

	@media only screen and (max-width: $media-l) {
		font-size: 1rem;
	}
	
	@media only screen and (max-width: $media-m) {
		// font-size: 1.2rem;
	}
	
	@media only screen and (max-width: $media-s) {
		// font-size: 1.6rem;
	}
}

/******************* tooltip *******************/

.tooltipHidden {
	margin: 0.5rem 0.5rem;
	cursor: pointer;
}

.tooltipPrivate {
	margin: 0.5rem 0.5rem;
	cursor: pointer;
}

.tooltipText {

	&::selection {
		background: none;
  	}

	.noselect {
		user-select: none; /* supported by Chrome and Opera */
	   -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Firefox */
	   -ms-user-select: none; /* Internet Explorer/Edge */
	}
}
/******************* public masthead *******************/

.publicContainer {
	width: 100%;
	margin: 3rem 0rem 0rem 0rem;
}

.publicItem img {
	max-height: 100px;
}


.public-item {
	width: 100%;
	margin: 0.75rem 0rem !important;
	position: relative;

	p {
		line-height: 100%;
	}

	svg {
		font-size: 1.4rem;
	}

	.linkFollow {
		position: absolute;
		top: 0.2rem;
		right: 2rem;

		fill: #ffb7c5;

		&:hover {
			fill: #ff1f48;
		}
	}

	.fileClose {
		position: absolute;
		top: 0.2rem;
		right: 0rem;

		fill: #ff5a51;

		&:hover {
			fill: #720600;
		}
	}

	p code {
		font-size: 1rem;
		margin: 0rem 0.5rem 0rem 0rem;
	}

	h6 {
		margin: 0rem 3.4rem 0rem 0rem;
	}

	h6, p {
		text-align: left;
	}

	progress {
		width: 100%;
		flex-grow: inherit;
	}

	img {
		border-width: .5rem;
		border-radius: $border-soft !important;

		margin: 0.5rem 0rem !important;

		object-fit: cover;
		display: block;
		width: 100%;
		max-height: 10rem;
	}
	
	input {
		margin: 0rem;
	}
}
