.info_card span {
	filter: drop-shadow(0.125rem 0.125rem 2rem #fff);
}

.info_cardLight span {
	/* filter: drop-shadow(0.125rem 0.125rem 2rem #fff); */
}

.hashCard span {
	background: #16161D;
}

.hashCardLight span {
	background: #c3c3d1;
}
