.body {

	width: 100%;
	
	.navbar {
		width: 100%;
	}

	.motion {
		width: 100%;
	}

	.masthead {
	}
}

.title {

	a {
		color: #ffb7c5;
		fill: #ffb7c5;
		
		&:hover {
			color: #007ba7;
			fill: #007ba7;
		}
	}
}