.navLink {
	margin: 0rem 0.6rem;
	
	svg {
		opacity: 70%;

		color: #ffb7c5;
		fill: #ffb7c5;

		&:hover {
			color: #007ba7 !important;
			fill: #007ba7 !important;
		}
	}
}

.logout {
	svg {
		opacity: 70%;

		color: #ff5a51;
		fill: #ff5a51;

		&:hover {
			cursor: pointer;
			
			color: #720600 !important;
			fill: #720600 !important;
		}
	}
}